.content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 0;
  gap: 30px;
}

.posts{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}
